#sidebar {
    background-color: #13191d;
    min-width: 25%;
    max-width: 25%;
    min-height: 100vh;
    padding: 2%;
    color: white;
    position: static;
}

#sidebar .sidebar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #485460;
    padding-bottom: 10px;
}

#sidebar .sidebar-headertxt {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

#sidebar ul.components {
    padding: 10px;
    border-bottom: 1px solid #485460;
    list-style: none;
    overflow-y: auto;
    max-height: 40%;
}

#sidebar ul li a {
    padding: 5px;
    display: block;
    color: #ecf0f1;
    text-decoration: none;
}

#sidebar ul li a:hover {
    text-decoration: underline;
}
